services:
    task-api:
        build:
            context: .
        volumes:
            - ./:/app
        environment:
            DATABASE_URL: ${DATABASE_URL}
        ports:
            - "8000:8000"
        depends_on:
            - database

    database:
        image: postgres:16
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "${DB_PORT}:5432"

volumes:
    postgres_data:
